html, body, #root, .room {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  height: 96%;
  overflow: hidden;
  margin: 0;
  text-align: center;
  padding: 10px;
  background-color: black;
}
.lit {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
.btn{
  background-color: black;
  color: white;
  border-radius: 6px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    margin:auto 4px;
    border-color: white;
  outline: none;
  border-color:none ;
  }

.btn:focus{
  outline: none;
}
.gopal{
  display: flex;
  justify-content: center;
  justify-self: center;
  margin:330px auto; 
  color:red;
} 